.footer {

    @media screen and (min-width: $desktop) {
    display: flex;
  }
}

// .footer__wrapper {

//   @media screen and (min-width: $desktop) {
//     display: flex;
//   }
// }


.footer__section {
  background-color: #191C26;
}

.footer__section:nth-child(2) {
  background-image: url(../img/footer/footer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    background-image: url(../img/footer/footer@2x.png);
  }

  @media screen and (min-width: $tablet) {
    background-image: url(../img/footer/footer-tab.png);

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: url(../img/footer/footer-tab@2x.png);
    }
  }

  @media screen and (min-width: $desktop) {
    background-image: url(../img/footer/footer-desk.png);

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: url(../img/footer/footer-desk@2x.png);
    }
  }
}

.footer__container {

  @media screen and (min-width: $desktop) {
    width: 500px;
  }
}

.footer__title {
  text-align: center;
  margin-bottom: 44px;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}

.footer__thumb {
  
  @media screen and (min-width: $tablet) and (max-width: 1199.5px) {
    display: flex;
  }
}

.footer__schedule {
  flex-grow: 1;
}

.footer__text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--thirdColor);
}
