.header {
  position: absolute;
  top: 0;
  width: 100%;
}

.header__container {
  align-items: center;

  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.header__menu {
  display: flex;
}

.header__navigation {
  
}

.header__contacts {
  align-items: center;

  @media screen and (min-width: $tablet) {
    margin-left: auto;
  }
}
