.hero {
  min-height: 580px;
  // background-image: url(../img/hero/slider-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: $mobile) {
    // background-image: url(../img/hero/slider-tablet-1.jpg);
  }

  @media screen and (min-width: $tablet) {
    // background-image: url(../img/hero/slider-desktop-1.jpg);
  }

  @media screen and (min-width: $desktop) {
  }
}

.hero__container {
  // display: flex;
}

.hero__left {
  background-color: #ffffff;
  width: 114px;

  @media screen and (max-width: 767.5px) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    width: 93px;
  }
}

.hero__right {
  background-color: rgba(25, 28, 38, 0.2);
}

.hero__pretitle {
}
.pretitle {
}
.hero__title {
}
.hero__posttitle {
}
