.online {
  background-color: #191C26;

  @media screen and (min-width: $desktop) {
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }
}

.online__container {
  @media screen and (min-width: $desktop) {
    width: calc((1200px - 30px) / 2);
    padding-left: 56px;
    padding-right: 0;
    margin: 0;
  }
}

.online__title {
  text-align: center;
  margin-bottom: 44px;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}
