.team {
  letter-spacing: 0.02em;
  background-color: #F7F7F7;
}

.team__title {
  margin-bottom: 44px;
}

.team__wrapper {
}
.team__list {
}
.team__item {
}
.team__img {
}
.team__box {
}

.team__heading {
  line-height: 1.39;
}

.team__text {
  font-size: 14px;
  line-height: 1.36;
  color: var(--brandColor);
}
