.address {
  font-style: normal;

  @media screen and (min-width: $tablet) and (max-width: 1199.5px) {
    flex-basis: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
}

.address--bottom-indent {

  @media screen and (max-width: 767.5px) {
    margin-bottom: 44px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom:  70px;
  }
}

// .address__list {}

.address__item {

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.address__link {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--thirdColor);
  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: var(--brandColor);
  }

  &:first-child {
    @media screen and (min-width: $tablet) {
      max-width: 250px;
    }
  }

  &--underline {
    text-decoration: underline;
  }
}

.address__icon {
  fill: currentColor;
  margin-right: 16px;
  flex-shrink: 0;

  &--top {
    @media screen and (min-width: $tablet) {
      margin-top: -20px;
    }
  }
}