.appointment {
  display: none;

  @media screen and (min-width: $tablet) and (max-width: 1199.5px) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.appointment__link {
  display: block;
  font-size: 12px;
  line-height: 1.333;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--lightFontColor);
  transition: color 250ms linear;

  &:focus,
  &:hover {
    color: var(--brandColor);
  }

  @media screen and (min-width: $desktop) {
    margin-right: 40px;
  }
}

.appointment__button {

  @media screen and (min-width: $tablet) and (max-width: 1199.5px) {
    margin-bottom: 20px;
  }
}
