.menu {
}

.menu__logo {

  @media screen and (min-width: $tablet) {
    margin-right: 60px;
    margin-left: 10px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 69px;
  }
}

.menu__button {
  padding: 0;
  background-color: transparent;
  margin-left: auto;
  color: #ffffff;
  transition: color 250ms linear;

  &:focus,
  &:hover {
    color: var(--brandColor);
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu__icon {
  fill: currentColor;
}