.navigation {
  display: none;
  font-size: 12px;
  line-height: 1.333;
  font-weight: 600;
  letter-spacing: 0.1em;

  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.navigation__item {

  &:not(:last-child) {
    margin-right: 24.25px;
  }
}

.navigation__link {
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;
  color: var(--lightFontColor);

  &:focus,
  &:hover {
    color: var(--brandColor);
  }
}