.navigation {
  display: none;

  @media screen and (min-width: $mobile) {
    
  }

  @media screen and (min-width: $tablet) {
    display: flex;
  }

  @media screen and (min-width: $desktop) {
    
  }
}

.navigation__item {

  &:not(:last-child) {
    margin-right: 24.25px;
  }
}

.navigation__link {
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;
  color: var(--lightFontColor);

  &:focus,
  &:hover {
    color: var(--brandColor);
  }
}