.swiper {
  width: 100%;
  height: 100%;

  // margin-left: auto;
  // margin-right: auto;
  // position: relative;
  // overflow: hidden;
  // list-style: none;
  // padding: 0;
  // z-index: 1;
}

.swiper-wrapper {
  // position: relative;
  // width: 100%;
  // height: 100%;
  // z-index: 1;
  // display: flex;
  // transition-property: transform;
  // box-sizing: content-box;
}

.swiper-slide {
  /* Center slide text vertically */
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: -webkit-flex;
  // display: flex;
  // -webkit-box-pack: center;
  // -ms-flex-pack: center;
  // -webkit-justify-content: center;
  // justify-content: center;
  // -webkit-box-align: center;
  // -ms-flex-align: center;
  // -webkit-align-items: center;
  // align-items: center;
}

.swiper-slide {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next:after{
display: none;
}
.swiper-button-prev:after {
display: none;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  left: 90%;
  top: 50%;

  @media screen and (max-width: 767.5px) {
    display: none;
  }
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0; 
  left: 90%; 
  width: 25px;
  height: 30px;
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 7.6px;
  height: 2px;
  border-radius: 0;
  background-color: #9DA4BD;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #ffffff;
  width: 17px;
  height: 2px;
}


