.media {
  display: flex;
  align-items: center;
  // justify-content: start;

  &::before {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    margin-right: 40px;
    background-color: var(--firstFontColor);
  }
}

.media--rotate {
  transform: rotate(-90deg);
  transform-origin: top left;
}

.media__item {

  &:not(:last-child) {
    margin-right: 40px;
  }
}

.media__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--firstFontColor);

  &:focus,
  &:hover {
    color: var(--brandColor);
  }
}