.pretitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--firstFontColor);
}

.pretitle--half-transparent {
  color: rgba(157, 164, 189, 0.6);
}

.pretitle--double-height {
  line-height: 1.91;
}

.pretitle--light {
  color: var(--lightFontColor);
}


.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.166;
  letter-spacing: 0.05em;
  color: var(--firstFontColor);
}

.title--big-light {
  color: var(--lightFontColor);
  font-size: 48px;
  line-height: 1.178;

  @media screen and (min-width: $desktop) {
    font-size: 72px;
    line-height: 1.18;
  }
}

.title--small-dark {
  font-size: 28px;

  @media screen and (min-width: $desktop) {
    font-size: 42px;
    line-height: 1.166;
  }
}

.title--light {
  color: var(--lightFontColor);
}



.posttitle {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: var(--secondFontColor);

  @media screen and (min-width: $desktop) {
    font-size: 18px;
    line-height: 1.67;
  }
}

.posttitle--grey {
  color: var(--thirdColor);

  @media screen and (min-width: $desktop) {
    font-size: 18px;
    line-height: 1.67;
  }
}

.posttitle--big {
  font-size: 18px;
  line-height: 1.67;
}